# EDA across three parts and all data manipulation (to produce cleaned training/testing data)

## Import packages

In [48]:
import numpy as np
import pandas as pd
import os

## Read  and merge the data

In [49]:
path = '../../data/raw'
training_values = pd.read_csv(path + '/TrainingSetValues.csv')
training_labels = pd.read_csv(path + '/TrainingSetLabels.csv')
testing = pd.read_csv(path + '/TestSetValues.csv')

training = pd.merge(training_values, training_labels, how='inner', on='id')
print (list(training.columns.values)) # column names of df
training.head(5)

['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height', 'installer', 'longitude', 'latitude', 'wpt_name', 'num_private', 'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga', 'ward', 'population', 'public_meeting', 'recorded_by', 'scheme_management', 'scheme_name', 'permit', 'construction_year', 'extraction_type', 'extraction_type_group', 'extraction_type_class', 'management', 'management_group', 'payment', 'payment_type', 'water_quality', 'quality_group', 'quantity', 'quantity_group', 'source', 'source_type', 'source_class', 'waterpoint_type', 'waterpoint_type_group', 'status_group']

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

## Columns to delete

In [50]:
cols_to_eliminate = ['funder', 'installer', 'wpt_name', 'num_private', 'subvillage', 'region_code', 'lga', 'ward', 'district_code', # from EDA_1
                    'recorded_by', 'scheme_management', 'scheme_name', # from EDA_2
                     'payment_type', 'water_quality', 'quantity', 'waterpoint_type_group' # from EDA_3
                    ]

In [51]:
training = training.drop(cols_to_eliminate, axis=1)

In [52]:
training.shape

(59400, 25)

## Columns to check (gps_height, construction_year, population, region, basin)

### gps_height (currently keep)

In [53]:
print (training[training['gps_height'] <= 0][['construction_year','gps_height', 'population', 'status_group']].sort_values(by='gps_height'))
print ('----------------------------------')
print (training[training['gps_height'] >0][['construction_year','gps_height', 'population', 'status_group']].sort_values(by='gps_height'))

       construction_year  gps_height  population             status_group
58934                  0         -90         550               functional
50296               2007         -63         353               functional
15193               2000         -63         150               functional
14285               1970         -59          90           non functional
41165               1974         -57           1               functional
35046               2007         -55          50           non functional
3045                1970         -54         140           non functional
39076               2008         -53           1               functional
48241               2000         -52          50               functional
54063               1986         -52          56               functional
27679               1975         -51         100           non functional
9713                2006         -51         150  functional needs repair
29127               1970         -50         100           non functional
43038               2012         -50          75               functional
42877               1985         -50        2000               functional
26729               2000         -50          90           non functional
22663               2004         -50         400           non functional
20945                  0         -49           1               functional
25262               1980         -49        1600           non functional
33784               1980         -49         320           non functional
38967               1974         -49         500               functional
29915               2000         -48         120               functional
48806               1974         -48         400               functional
6208                1986         -48           1               functional
39171               2012         -48           1               functional
39283               2007         -48          79               functional
27879               1985         -48          30           non functional
5608                2001         -47           1  functional needs repair
2465                2012         -47           1               functional
24170               1970         -47          50           non functional
...                  ...         ...         ...                      ...
20546               1984           0         327               functional
20545                  0           0           0           non functional
20538                  0           0           0           non functional
20536                  0           0           0           non functional
20534                  0           0           0           non functional
20530                  0           0           0               functional
20527                  0           0           0               functional
20563                  0           0           0               functional
20523                  0           0           0               functional
20566                  0           0           0               functional
20573                  0           0           0               functional
20624                  0           0           0               functional
20621                  0           0           0           non functional
20618                  0           0           0           non functional
20609                  0           0           0               functional
20607                  0           0           0               functional
20605                  0           0           0               functional
20600                  0           0           0           non functional
20599                  0           0           0               functional
20597               1984           0         610           non functional
20593                  0           0           0               functional
20592                  0           0           0           non functional
20586                  0           0           0               functional
20584                  0           0           0               functional
20583                  0           0           0               functional
20582                  0           0           0               functional
20581                  0           0           0               functional
20579                  0           0           0           non functional
20567                  0           0           0               functional
59398                  0           0           0               functional

[21934 rows x 4 columns]
----------------------------------
       construction_year  gps_height  population             status_group
46120               2000           1         400               functional
46365               2010           1         500               functional
42583               2010           1           1               functional
23075               1995           1         352           non functional
31393               1985           1         400               functional
1703                2009           1           1               functional
57079               2008           1         360               functional
23387               2000           1          70               functional
50023               2010           1         500               functional
30972               2000           1          50           non functional
53032               1999           1           1               functional
7968                2010           1         470               functional
49440               2006           1          30               functional
52830               1974           1           1               functional
58795               2000           1          80           non functional
6477                1975           1         253           non functional
51652               1993           1          50           non functional
10180               2005           1         240           non functional
48641               2000           1         250               functional
17956               2001           1          10               functional
1147                2006           1           1               functional
5430                1974           1           1               functional
27075               2007           1         430           non functional
45160               1970           1          80           non functional
2911                1985           1         400           non functional
15579               2009           1          40               functional
8508                1987           1         200           non functional
967                 2004           1         300               functional
12676               2003           1           1           non functional
23731               2002           1         400               functional
...                  ...         ...         ...                      ...
641                 2008        2501           0               functional
41053               2008        2506           0               functional
46287               2003        2509           1               functional
3954                2005        2509         180               functional
48909               2008        2521           0               functional
49013               2006        2523         100  functional needs repair
45048               2008        2535           0               functional
38256               2008        2536           0               functional
56118               2008        2539           0               functional
1745                2008        2545           0               functional
24514               2008        2552           0               functional
4959                2008        2554           0               functional
5924                2008        2554           0               functional
43380               2008        2557           0               functional
16829               2008        2559           0               functional
22407               2011        2560         120               functional
54834               2011        2560         200               functional
56020               2011        2566         145               functional
57673               2012        2567         146               functional
9840                2008        2568           0               functional
1202                1994        2569         145               functional
43533               2011        2576           1               functional
42014               2011        2585           1  functional needs repair
54394               2003        2614         280               functional
465                 2003        2623         210               functional
21388               2003        2626         410               functional
35453               2003        2626         180               functional
12905               2003        2627         330           non functional
40822               2003        2628         250               functional
17374               2011        2770           1  functional needs repair

[37466 rows x 4 columns]

### construction year

In [54]:
training[training['construction_year'] != 0][['construction_year', 'status_group']].sort_values(by='construction_year')

       construction_year             status_group
4562                1960           non functional
252                 1960           non functional
54434               1960           non functional
29002               1960           non functional
51754               1960               functional
1407                1960           non functional
56544               1960           non functional
42937               1960           non functional
18629               1960  functional needs repair
24663               1960           non functional
37451               1960           non functional
19765               1960           non functional
13124               1960           non functional
29085               1960               functional
16096               1960           non functional
4736                1960           non functional
18543               1960           non functional
33752               1960           non functional
28030               1960  functional needs repair
24712               1960           non functional
55057               1960           non functional
18510               1960               functional
17652               1960           non functional
17078               1960           non functional
9096                1960           non functional
28357               1960           non functional
51981               1960           non functional
30143               1960           non functional
57274               1960           non functional
26882               1960           non functional
...                  ...                      ...
33785               2013           non functional
33033               2013               functional
35776               2013               functional
29223               2013               functional
593                 2013           non functional
33018               2013               functional
27221               2013               functional
30780               2013               functional
9274                2013               functional
24913               2013               functional
50840               2013               functional
4619                2013               functional
7373                2013           non functional
15948               2013           non functional
48893               2013               functional
24322               2013           non functional
57222               2013               functional
33917               2013           non functional
43559               2013               functional
57248               2013               functional
55781               2013           non functional
4698                2013               functional
37701               2013           non functional
44585               2013               functional
54024               2013               functional
48721               2013           non functional
44613               2013               functional
58785               2013               functional
1877                2013           non functional
56510               2013           non functional

[38691 rows x 2 columns]

#### Seems like more recent ones tend to function, change year 0 to NA

### Population vs Region and Basin

In [55]:
print(training[training['population'] == 0].groupby('region').size())
print ('--------------')
print (training[training['population'] > 0].groupby('region').size())
print ('--------------')
print(training[training['population'] == 0].groupby('basin').size())
print ('--------------')
print (training[training['population'] > 0].groupby('basin').size())
print ('--------------')

region
Arusha          1
Dodoma       2201
Iringa       1164
Kagera       3316
Kigoma         31
Mbeya        4639
Mwanza       2735
Pwani           1
Rukwa          47
Ruvuma        467
Shinyanga    4818
Singida         2
Tabora       1959
dtype: int64
--------------
region
Arusha           3349
Dar es Salaam     805
Iringa           4130
Kigoma           2785
Kilimanjaro      4379
Lindi            1546
Manyara          1583
Mara             1969
Morogoro         4006
Mtwara           1730
Mwanza            367
Pwani            2634
Rukwa            1761
Ruvuma           2173
Shinyanga         164
Singida          2091
Tanga            2547
dtype: int64
--------------
basin
Internal                   3111
Lake Nyasa                 3186
Lake Rukwa                 1466
Lake Tanganyika            2865
Lake Victoria              7716
Pangani                       1
Rufiji                     1765
Ruvuma / Southern Coast     256
Wami / Ruvu                1015
dtype: int64
--------------
basin
Internal                   4674
Lake Nyasa                 1899
Lake Rukwa                  988
Lake Tanganyika            3567
Lake Victoria              2532
Pangani                    8939
Rufiji                     6211
Ruvuma / Southern Coast    4237
Wami / Ruvu                4972
dtype: int64
--------------

#### Population and Region are related, but Population and Basin are not

### Check Population and Construction Year

In [56]:
print(training[training['population'] == 0].shape) # 21381 population = 0
print(training[training['construction_year'] == 0].shape) # 20709 construction year = 0
print(training[(training['construction_year'] == 0) & (training['population'] == 0)].shape) # 20034 both 0

training[(training['construction_year'] == 0) & (training['population'] == 0)].groupby('region').size()

(21381, 25)
(20709, 25)
(20034, 25)

region
Dodoma       2201
Iringa        365
Kagera       3316
Mbeya        4639
Mwanza       2735
Pwani           1
Shinyanga    4818
Tabora       1959
dtype: int64

In [57]:
training[training['population'] > 0]['population'].describe() # right-skewed

count    38019.000000
mean       281.087167
std        564.687660
min          1.000000
25%         40.000000
50%        150.000000
75%        324.000000
max      30500.000000
Name: population, dtype: float64

#### Current idea: Population = 0 is fine, just change year=0 to na

## Columns to change

### 1. Construction year 0 to NA

In [58]:
training.construction_year = training['construction_year'].replace(0,np.NaN)

In [59]:
print(training['construction_year'].describe(include='All'))
sum(training['construction_year'].isnull())

count    38691.000000
mean      1996.814686
std         12.472045
min       1960.000000
25%       1987.000000
50%       2000.000000
75%       2008.000000
max       2013.000000
Name: construction_year, dtype: float64

20709

### 2. Create a new variable "Age" based on Construction Year

In [60]:
training['age'] = 2013 - training.construction_year

In [61]:
print(training['age'].describe(include='All'))
sum(training['age'].isnull())

count    38691.000000
mean        16.185314
std         12.472045
min          0.000000
25%          5.000000
50%         13.000000
75%         26.000000
max         53.000000
Name: age, dtype: float64

20709

### 3. Management Group None to Other category (later after first regression model and decide whether this feature is valuable or not)

In [62]:
training.groupby('management_group').size()

management_group
commercial     3638
other           943
parastatal     1768
unknown         561
user-group    52490
dtype: int64

In [63]:
# another way that does not generate warning
training['management_group_new'] = np.where((training['management_group'] == 'unknown'), 
                                                 'other', training['management_group'])

# Alternative: Zili's work
# training['management_group_new'] = training['management_group']
# training['management_group_new'][training['management_group_new'] == 'unknown'] = 'other'

In [64]:
training.groupby('management_group_new').size()

management_group_new
commercial     3638
other          1504
parastatal     1768
user-group    52490
dtype: int64

### 4. quality_group 'salty', 'milky', 'colored', 'fluoride' to bad

In [65]:
training['quality_group_new'] = training['quality_group']
training.loc[training['quality_group_new'].isin(['salty', 'milky', 'colored', 'fluoride']),'quality_group_new'] = 'bad'
training['quality_group_new'].value_counts()

good       50818
bad         6706
unknown     1876
Name: quality_group_new, dtype: int64

### 5. waterpoint_type 'other','improved spring', 'cattle trough', 'dam' to 'other' (insufficient size)

In [66]:
training['waterpoint_type_new'] = training['waterpoint_type']
training.loc[training['waterpoint_type_new'].isin(['other','improved spring', 'cattle trough', 'dam']),'waterpoint_type_new'] = 'other'
training['waterpoint_type_new'].value_counts()

communal standpipe             28522
hand pump                      17488
other                           7287
communal standpipe multiple     6103
Name: waterpoint_type_new, dtype: int64

### 6. new column (1, 2, 3) for status_group (3: functional, 2: functional needs repair, 1: non functional)

In [67]:
training['status_group_new'] = np.where((training['status_group'] == 'functional'), 
                                                 3, np.where((training['status_group'] == 'non functional'), 1, 2))

In [68]:
training[['status_group', 'status_group_new']].head(20)

               status_group  status_group_new
0                functional                 3
1                functional                 3
2                functional                 3
3            non functional                 1
4                functional                 3
5                functional                 3
6            non functional                 1
7            non functional                 1
8            non functional                 1
9                functional                 3
10               functional                 3
11               functional                 3
12               functional                 3
13               functional                 3
14               functional                 3
15               functional                 3
16           non functional                 1
17           non functional                 1
18  functional needs repair                 2
19               functional                 3

### 7. Split date recorded to three columns (year_recorded, month_recorded, day_recorded)

In [69]:
training['date_recorded'] = training['date_recorded'].astype('datetime64[ns]')
training['year_recorded'] = training['date_recorded'].dt.year
training['month_recorded'] = training['date_recorded'].dt.month
training['day_recorded'] = training['date_recorded'].dt.day

training[['date_recorded', 'year_recorded', 'month_recorded', 'day_recorded']].head(5)

  date_recorded  year_recorded  month_recorded  day_recorded
0    2011-03-14           2011               3            14
1    2013-03-06           2013               3             6
2    2013-02-25           2013               2            25
3    2013-01-28           2013               1            28
4    2011-07-13           2011               7            13

## Final training set

In [74]:
training.columns

Index(['id', 'amount_tsh', 'date_recorded', 'gps_height', 'longitude',
       'latitude', 'basin', 'region', 'population', 'public_meeting', 'permit',
       'construction_year', 'extraction_type', 'extraction_type_group',
       'extraction_type_class', 'management', 'management_group', 'payment',
       'quality_group', 'quantity_group', 'source', 'source_type',
       'source_class', 'waterpoint_type', 'status_group', 'age',
       'management_group_new', 'quality_group_new', 'waterpoint_type_new',
       'status_group_new', 'year_recorded', 'month_recorded', 'day_recorded'],
      dtype='object')

In [75]:
training_final = training.drop(['longitude', 'latitude', 'construction_year',
                                'management_group', 'quality_group', 'waterpoint_type', 'date_recorded'], axis = 1)
print(training_final.shape)
training_final.head(5)

(59400, 26)

,id,amount_tsh,gps_height,basin,region,population,public_meeting,permit,extraction_type,extraction_type_group,...,source_class,status_group,age,management_group_new,quality_group_new,waterpoint_type_new,status_group_new,year_recorded,month_recorded,day_recorded
0,69572,6000.0,1390,Lake Nyasa,Iringa,109,True,False,gravity,gravity,...,groundwater,functional,14.0,user-group,good,communal standpipe,3,2011,3,14
1,8776,0.0,1399,Lake Victoria,Mara,280,NaN,True,gravity,gravity,...,surface,functional,3.0,user-group,good,communal standpipe,3,2013,3,6
2,34310,25.0,686,Pangani,Manyara,250,True,True,gravity,gravity,...,surface,functional,4.0,user-group,good,communal standpipe multiple,3,2013,2,25
3,67743,0.0,263,Ruvuma / Southern Coast,Mtwara,58,True,True,submersible,submersible,...,groundwater,non functional,27.0,user-group,good,communal standpipe multiple,1,2013,1,28
4,19728,0.0,0,Lake Victoria,Kagera,0,True,True,gravity,gravity,...,surface,functional,NaN,other,good,communal standpipe,3,2011,7,13

In [78]:
print (training_final.shape)
training_final.columns

(59400, 26)

Index(['id', 'amount_tsh', 'gps_height', 'basin', 'region', 'population',
       'public_meeting', 'permit', 'extraction_type', 'extraction_type_group',
       'extraction_type_class', 'management', 'payment', 'quantity_group',
       'source', 'source_type', 'source_class', 'status_group', 'age',
       'management_group_new', 'quality_group_new', 'waterpoint_type_new',
       'status_group_new', 'year_recorded', 'month_recorded', 'day_recorded'],
      dtype='object')

### reorder columns

In [82]:
training_final_out = training_final[['id', 'amount_tsh', 'year_recorded', 'month_recorded', 'day_recorded', 'gps_height', 'basin', 'region', 
                                'population', 'public_meeting', 'permit', 'age', 'extraction_type', 'extraction_type_group', 'extraction_type_class',
                                'management', 'management_group_new', 'payment', 'quantity_group', 'quality_group_new', 'source', 'source_type',
                                'source_class', 'waterpoint_type_new', 'status_group', 'status_group_new']]

training_final_out.shape

(59400, 26)

### write out csv

In [85]:
path_out = '../../data/cleaned'
training_final_out.to_csv(path_out + '/training_cleaned_v1.csv', index = False)